@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


.main-container{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.posts-container{  /*Make this div scrollable*/
    background-color: white;
    display: grid;
    margin: 10px;
    padding: 10px;
    width: 40vw;
}

.single-post-container{
    background-color: bisque;
}

.account-name{
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
}

.image-container{
    width: 100%;
    height: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.post-image{
    width: 100%;
    height: 100%;
}

.discription .discription-text{
    font-family: 'Mukta', sans-serif;
}